.banner{
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}

pre{
    color: white;
}

.btn-link{
    color: darkblue !important;
}
.answers{
    border-bottom: 1px solid #e4e6e8;
    margin-bottom: 30px;
    font-size: 1.0rem;
}

vote{
    font-size: 1.6rem;
}

.comments{
    font-size: .8rem;
}
.comment{

}
.right{
    margin-right: -33.5rem!important;
    margin-left: 18.5rem!important;

}